/* stylelint-disable scss/at-else-empty-line-before */
/* stylelint-disable scss/at-if-closing-brace-space-after */
.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-original-case {
  text-transform: none !important;
}

.text-wrap {
  word-break: break-all !important;
}

.d-flex, .flex-center {
  display: flex !important;
}

.d-flex, .flex-center {
  display: flex !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

.unset-overflow {
  overflow: unset !important;
  text-overflow: unset !important;
  white-space: unset !important;
}

.rounded {
  border-radius: 4px;
}

.rounded-lg {
  border-radius: 8px;
}

.align-items-center, .flex-center {
  align-items: center !important;
}

.no-shadow {
  box-shadow: none !important;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.justify-content-center, .flex-center {
  justify-content: center !important;
}

.justify-content-space-between {
  justify-content: space-between !important;
}

.justify-content-start {
  justify-content: start !important;
}

.justify-content-flex-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: end !important;
}

.justify-content-flex-end {
  justify-content: flex-end !important;
}

.justify-content-space-evenly {
  justify-content: space-evenly !important;
}

.justify-content-space-around {
  justify-content: space-around !important;
}

.d-block {
  display: block !important;
}

.d-inline {
  display: inline !important;
}

.d-i-block {
  display: inline-block !important;
}

.d-none {
  display: none !important;
}

.f-left {
  float: left !important;
}

.f-right {
  float: right !important;
}

.f-none {
  float: none !important;
}

.flex-center {
  /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
  /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
  /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
}

.p-bottom-0 {
  padding-bottom: 0px !important;
}

.p-top-0 {
  padding-top: 0px !important;
}

.p-left-0 {
  padding-left: 0px !important;
}

.p-right-0 {
  padding-right: 0px !important;
}

.m-bottom-0 {
  margin-bottom: 0px !important;
}

.m-top-0 {
  margin-top: 0px !important;
}

.m-left-0 {
  margin-left: 0px !important;
}

.m-right-0 {
  margin-right: 0px !important;
}

.padding-x-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.padding-y-0 {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

.p-bottom-1 {
  padding-bottom: 1px !important;
}

.p-top-1 {
  padding-top: 1px !important;
}

.p-left-1 {
  padding-left: 1px !important;
}

.p-right-1 {
  padding-right: 1px !important;
}

.m-bottom-1 {
  margin-bottom: 1px !important;
}

.m-top-1 {
  margin-top: 1px !important;
}

.m-left-1 {
  margin-left: 1px !important;
}

.m-right-1 {
  margin-right: 1px !important;
}

.padding-x-1 {
  padding-left: 1px !important;
  padding-right: 1px !important;
}

.padding-y-1 {
  padding-bottom: 1px !important;
  padding-top: 1px !important;
}

.p-bottom-2 {
  padding-bottom: 2px !important;
}

.p-top-2 {
  padding-top: 2px !important;
}

.p-left-2 {
  padding-left: 2px !important;
}

.p-right-2 {
  padding-right: 2px !important;
}

.m-bottom-2 {
  margin-bottom: 2px !important;
}

.m-top-2 {
  margin-top: 2px !important;
}

.m-left-2 {
  margin-left: 2px !important;
}

.m-right-2 {
  margin-right: 2px !important;
}

.padding-x-2 {
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.padding-y-2 {
  padding-bottom: 2px !important;
  padding-top: 2px !important;
}

.p-bottom-3 {
  padding-bottom: 3px !important;
}

.p-top-3 {
  padding-top: 3px !important;
}

.p-left-3 {
  padding-left: 3px !important;
}

.p-right-3 {
  padding-right: 3px !important;
}

.m-bottom-3 {
  margin-bottom: 3px !important;
}

.m-top-3 {
  margin-top: 3px !important;
}

.m-left-3 {
  margin-left: 3px !important;
}

.m-right-3 {
  margin-right: 3px !important;
}

.padding-x-3 {
  padding-left: 3px !important;
  padding-right: 3px !important;
}

.padding-y-3 {
  padding-bottom: 3px !important;
  padding-top: 3px !important;
}

.p-bottom-4 {
  padding-bottom: 4px !important;
}

.p-top-4 {
  padding-top: 4px !important;
}

.p-left-4 {
  padding-left: 4px !important;
}

.p-right-4 {
  padding-right: 4px !important;
}

.m-bottom-4 {
  margin-bottom: 4px !important;
}

.m-top-4 {
  margin-top: 4px !important;
}

.m-left-4 {
  margin-left: 4px !important;
}

.m-right-4 {
  margin-right: 4px !important;
}

.padding-x-4 {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.padding-y-4 {
  padding-bottom: 4px !important;
  padding-top: 4px !important;
}

.p-bottom-5 {
  padding-bottom: 5px !important;
}

.p-top-5 {
  padding-top: 5px !important;
}

.p-left-5 {
  padding-left: 5px !important;
}

.p-right-5 {
  padding-right: 5px !important;
}

.m-bottom-5 {
  margin-bottom: 5px !important;
}

.m-top-5 {
  margin-top: 5px !important;
}

.m-left-5 {
  margin-left: 5px !important;
}

.m-right-5 {
  margin-right: 5px !important;
}

.padding-x-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.padding-y-5 {
  padding-bottom: 5px !important;
  padding-top: 5px !important;
}

.p-bottom-6 {
  padding-bottom: 6px !important;
}

.p-top-6 {
  padding-top: 6px !important;
}

.p-left-6 {
  padding-left: 6px !important;
}

.p-right-6 {
  padding-right: 6px !important;
}

.m-bottom-6 {
  margin-bottom: 6px !important;
}

.m-top-6 {
  margin-top: 6px !important;
}

.m-left-6 {
  margin-left: 6px !important;
}

.m-right-6 {
  margin-right: 6px !important;
}

.padding-x-6 {
  padding-left: 6px !important;
  padding-right: 6px !important;
}

.padding-y-6 {
  padding-bottom: 6px !important;
  padding-top: 6px !important;
}

.p-bottom-7 {
  padding-bottom: 7px !important;
}

.p-top-7 {
  padding-top: 7px !important;
}

.p-left-7 {
  padding-left: 7px !important;
}

.p-right-7 {
  padding-right: 7px !important;
}

.m-bottom-7 {
  margin-bottom: 7px !important;
}

.m-top-7 {
  margin-top: 7px !important;
}

.m-left-7 {
  margin-left: 7px !important;
}

.m-right-7 {
  margin-right: 7px !important;
}

.padding-x-7 {
  padding-left: 7px !important;
  padding-right: 7px !important;
}

.padding-y-7 {
  padding-bottom: 7px !important;
  padding-top: 7px !important;
}

.p-bottom-8 {
  padding-bottom: 8px !important;
}

.p-top-8 {
  padding-top: 8px !important;
}

.p-left-8 {
  padding-left: 8px !important;
}

.p-right-8 {
  padding-right: 8px !important;
}

.m-bottom-8 {
  margin-bottom: 8px !important;
}

.m-top-8 {
  margin-top: 8px !important;
}

.m-left-8 {
  margin-left: 8px !important;
}

.m-right-8 {
  margin-right: 8px !important;
}

.padding-x-8 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.padding-y-8 {
  padding-bottom: 8px !important;
  padding-top: 8px !important;
}

.p-bottom-9 {
  padding-bottom: 9px !important;
}

.p-top-9 {
  padding-top: 9px !important;
}

.p-left-9 {
  padding-left: 9px !important;
}

.p-right-9 {
  padding-right: 9px !important;
}

.m-bottom-9 {
  margin-bottom: 9px !important;
}

.m-top-9 {
  margin-top: 9px !important;
}

.m-left-9 {
  margin-left: 9px !important;
}

.m-right-9 {
  margin-right: 9px !important;
}

.padding-x-9 {
  padding-left: 9px !important;
  padding-right: 9px !important;
}

.padding-y-9 {
  padding-bottom: 9px !important;
  padding-top: 9px !important;
}

.p-bottom-10 {
  padding-bottom: 10px !important;
}

.p-top-10 {
  padding-top: 10px !important;
}

.p-left-10 {
  padding-left: 10px !important;
}

.p-right-10 {
  padding-right: 10px !important;
}

.m-bottom-10 {
  margin-bottom: 10px !important;
}

.m-top-10 {
  margin-top: 10px !important;
}

.m-left-10 {
  margin-left: 10px !important;
}

.m-right-10 {
  margin-right: 10px !important;
}

.padding-x-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.padding-y-10 {
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}

.p-bottom-11 {
  padding-bottom: 11px !important;
}

.p-top-11 {
  padding-top: 11px !important;
}

.p-left-11 {
  padding-left: 11px !important;
}

.p-right-11 {
  padding-right: 11px !important;
}

.m-bottom-11 {
  margin-bottom: 11px !important;
}

.m-top-11 {
  margin-top: 11px !important;
}

.m-left-11 {
  margin-left: 11px !important;
}

.m-right-11 {
  margin-right: 11px !important;
}

.padding-x-11 {
  padding-left: 11px !important;
  padding-right: 11px !important;
}

.padding-y-11 {
  padding-bottom: 11px !important;
  padding-top: 11px !important;
}

.p-bottom-12 {
  padding-bottom: 12px !important;
}

.p-top-12 {
  padding-top: 12px !important;
}

.p-left-12 {
  padding-left: 12px !important;
}

.p-right-12 {
  padding-right: 12px !important;
}

.m-bottom-12 {
  margin-bottom: 12px !important;
}

.m-top-12 {
  margin-top: 12px !important;
}

.m-left-12 {
  margin-left: 12px !important;
}

.m-right-12 {
  margin-right: 12px !important;
}

.padding-x-12 {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.padding-y-12 {
  padding-bottom: 12px !important;
  padding-top: 12px !important;
}

.p-bottom-13 {
  padding-bottom: 13px !important;
}

.p-top-13 {
  padding-top: 13px !important;
}

.p-left-13 {
  padding-left: 13px !important;
}

.p-right-13 {
  padding-right: 13px !important;
}

.m-bottom-13 {
  margin-bottom: 13px !important;
}

.m-top-13 {
  margin-top: 13px !important;
}

.m-left-13 {
  margin-left: 13px !important;
}

.m-right-13 {
  margin-right: 13px !important;
}

.padding-x-13 {
  padding-left: 13px !important;
  padding-right: 13px !important;
}

.padding-y-13 {
  padding-bottom: 13px !important;
  padding-top: 13px !important;
}

.p-bottom-14 {
  padding-bottom: 14px !important;
}

.p-top-14 {
  padding-top: 14px !important;
}

.p-left-14 {
  padding-left: 14px !important;
}

.p-right-14 {
  padding-right: 14px !important;
}

.m-bottom-14 {
  margin-bottom: 14px !important;
}

.m-top-14 {
  margin-top: 14px !important;
}

.m-left-14 {
  margin-left: 14px !important;
}

.m-right-14 {
  margin-right: 14px !important;
}

.padding-x-14 {
  padding-left: 14px !important;
  padding-right: 14px !important;
}

.padding-y-14 {
  padding-bottom: 14px !important;
  padding-top: 14px !important;
}

.p-bottom-15 {
  padding-bottom: 15px !important;
}

.p-top-15 {
  padding-top: 15px !important;
}

.p-left-15 {
  padding-left: 15px !important;
}

.p-right-15 {
  padding-right: 15px !important;
}

.m-bottom-15 {
  margin-bottom: 15px !important;
}

.m-top-15 {
  margin-top: 15px !important;
}

.m-left-15 {
  margin-left: 15px !important;
}

.m-right-15 {
  margin-right: 15px !important;
}

.padding-x-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.padding-y-15 {
  padding-bottom: 15px !important;
  padding-top: 15px !important;
}

.p-bottom-16 {
  padding-bottom: 16px !important;
}

.p-top-16 {
  padding-top: 16px !important;
}

.p-left-16 {
  padding-left: 16px !important;
}

.p-right-16 {
  padding-right: 16px !important;
}

.m-bottom-16 {
  margin-bottom: 16px !important;
}

.m-top-16 {
  margin-top: 16px !important;
}

.m-left-16 {
  margin-left: 16px !important;
}

.m-right-16 {
  margin-right: 16px !important;
}

.padding-x-16 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.padding-y-16 {
  padding-bottom: 16px !important;
  padding-top: 16px !important;
}

.p-bottom-17 {
  padding-bottom: 17px !important;
}

.p-top-17 {
  padding-top: 17px !important;
}

.p-left-17 {
  padding-left: 17px !important;
}

.p-right-17 {
  padding-right: 17px !important;
}

.m-bottom-17 {
  margin-bottom: 17px !important;
}

.m-top-17 {
  margin-top: 17px !important;
}

.m-left-17 {
  margin-left: 17px !important;
}

.m-right-17 {
  margin-right: 17px !important;
}

.padding-x-17 {
  padding-left: 17px !important;
  padding-right: 17px !important;
}

.padding-y-17 {
  padding-bottom: 17px !important;
  padding-top: 17px !important;
}

.p-bottom-18 {
  padding-bottom: 18px !important;
}

.p-top-18 {
  padding-top: 18px !important;
}

.p-left-18 {
  padding-left: 18px !important;
}

.p-right-18 {
  padding-right: 18px !important;
}

.m-bottom-18 {
  margin-bottom: 18px !important;
}

.m-top-18 {
  margin-top: 18px !important;
}

.m-left-18 {
  margin-left: 18px !important;
}

.m-right-18 {
  margin-right: 18px !important;
}

.padding-x-18 {
  padding-left: 18px !important;
  padding-right: 18px !important;
}

.padding-y-18 {
  padding-bottom: 18px !important;
  padding-top: 18px !important;
}

.p-bottom-19 {
  padding-bottom: 19px !important;
}

.p-top-19 {
  padding-top: 19px !important;
}

.p-left-19 {
  padding-left: 19px !important;
}

.p-right-19 {
  padding-right: 19px !important;
}

.m-bottom-19 {
  margin-bottom: 19px !important;
}

.m-top-19 {
  margin-top: 19px !important;
}

.m-left-19 {
  margin-left: 19px !important;
}

.m-right-19 {
  margin-right: 19px !important;
}

.padding-x-19 {
  padding-left: 19px !important;
  padding-right: 19px !important;
}

.padding-y-19 {
  padding-bottom: 19px !important;
  padding-top: 19px !important;
}

.p-bottom-20 {
  padding-bottom: 20px !important;
}

.p-top-20 {
  padding-top: 20px !important;
}

.p-left-20 {
  padding-left: 20px !important;
}

.p-right-20 {
  padding-right: 20px !important;
}

.m-bottom-20 {
  margin-bottom: 20px !important;
}

.m-top-20 {
  margin-top: 20px !important;
}

.m-left-20 {
  margin-left: 20px !important;
}

.m-right-20 {
  margin-right: 20px !important;
}

.padding-x-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.padding-y-20 {
  padding-bottom: 20px !important;
  padding-top: 20px !important;
}

.p-bottom-21 {
  padding-bottom: 21px !important;
}

.p-top-21 {
  padding-top: 21px !important;
}

.p-left-21 {
  padding-left: 21px !important;
}

.p-right-21 {
  padding-right: 21px !important;
}

.m-bottom-21 {
  margin-bottom: 21px !important;
}

.m-top-21 {
  margin-top: 21px !important;
}

.m-left-21 {
  margin-left: 21px !important;
}

.m-right-21 {
  margin-right: 21px !important;
}

.padding-x-21 {
  padding-left: 21px !important;
  padding-right: 21px !important;
}

.padding-y-21 {
  padding-bottom: 21px !important;
  padding-top: 21px !important;
}

.p-bottom-22 {
  padding-bottom: 22px !important;
}

.p-top-22 {
  padding-top: 22px !important;
}

.p-left-22 {
  padding-left: 22px !important;
}

.p-right-22 {
  padding-right: 22px !important;
}

.m-bottom-22 {
  margin-bottom: 22px !important;
}

.m-top-22 {
  margin-top: 22px !important;
}

.m-left-22 {
  margin-left: 22px !important;
}

.m-right-22 {
  margin-right: 22px !important;
}

.padding-x-22 {
  padding-left: 22px !important;
  padding-right: 22px !important;
}

.padding-y-22 {
  padding-bottom: 22px !important;
  padding-top: 22px !important;
}

.p-bottom-23 {
  padding-bottom: 23px !important;
}

.p-top-23 {
  padding-top: 23px !important;
}

.p-left-23 {
  padding-left: 23px !important;
}

.p-right-23 {
  padding-right: 23px !important;
}

.m-bottom-23 {
  margin-bottom: 23px !important;
}

.m-top-23 {
  margin-top: 23px !important;
}

.m-left-23 {
  margin-left: 23px !important;
}

.m-right-23 {
  margin-right: 23px !important;
}

.padding-x-23 {
  padding-left: 23px !important;
  padding-right: 23px !important;
}

.padding-y-23 {
  padding-bottom: 23px !important;
  padding-top: 23px !important;
}

.p-bottom-24 {
  padding-bottom: 24px !important;
}

.p-top-24 {
  padding-top: 24px !important;
}

.p-left-24 {
  padding-left: 24px !important;
}

.p-right-24 {
  padding-right: 24px !important;
}

.m-bottom-24 {
  margin-bottom: 24px !important;
}

.m-top-24 {
  margin-top: 24px !important;
}

.m-left-24 {
  margin-left: 24px !important;
}

.m-right-24 {
  margin-right: 24px !important;
}

.padding-x-24 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.padding-y-24 {
  padding-bottom: 24px !important;
  padding-top: 24px !important;
}

.p-bottom-25 {
  padding-bottom: 25px !important;
}

.p-top-25 {
  padding-top: 25px !important;
}

.p-left-25 {
  padding-left: 25px !important;
}

.p-right-25 {
  padding-right: 25px !important;
}

.m-bottom-25 {
  margin-bottom: 25px !important;
}

.m-top-25 {
  margin-top: 25px !important;
}

.m-left-25 {
  margin-left: 25px !important;
}

.m-right-25 {
  margin-right: 25px !important;
}

.padding-x-25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.padding-y-25 {
  padding-bottom: 25px !important;
  padding-top: 25px !important;
}

.p-bottom-26 {
  padding-bottom: 26px !important;
}

.p-top-26 {
  padding-top: 26px !important;
}

.p-left-26 {
  padding-left: 26px !important;
}

.p-right-26 {
  padding-right: 26px !important;
}

.m-bottom-26 {
  margin-bottom: 26px !important;
}

.m-top-26 {
  margin-top: 26px !important;
}

.m-left-26 {
  margin-left: 26px !important;
}

.m-right-26 {
  margin-right: 26px !important;
}

.padding-x-26 {
  padding-left: 26px !important;
  padding-right: 26px !important;
}

.padding-y-26 {
  padding-bottom: 26px !important;
  padding-top: 26px !important;
}

.p-bottom-27 {
  padding-bottom: 27px !important;
}

.p-top-27 {
  padding-top: 27px !important;
}

.p-left-27 {
  padding-left: 27px !important;
}

.p-right-27 {
  padding-right: 27px !important;
}

.m-bottom-27 {
  margin-bottom: 27px !important;
}

.m-top-27 {
  margin-top: 27px !important;
}

.m-left-27 {
  margin-left: 27px !important;
}

.m-right-27 {
  margin-right: 27px !important;
}

.padding-x-27 {
  padding-left: 27px !important;
  padding-right: 27px !important;
}

.padding-y-27 {
  padding-bottom: 27px !important;
  padding-top: 27px !important;
}

.p-bottom-28 {
  padding-bottom: 28px !important;
}

.p-top-28 {
  padding-top: 28px !important;
}

.p-left-28 {
  padding-left: 28px !important;
}

.p-right-28 {
  padding-right: 28px !important;
}

.m-bottom-28 {
  margin-bottom: 28px !important;
}

.m-top-28 {
  margin-top: 28px !important;
}

.m-left-28 {
  margin-left: 28px !important;
}

.m-right-28 {
  margin-right: 28px !important;
}

.padding-x-28 {
  padding-left: 28px !important;
  padding-right: 28px !important;
}

.padding-y-28 {
  padding-bottom: 28px !important;
  padding-top: 28px !important;
}

.p-bottom-29 {
  padding-bottom: 29px !important;
}

.p-top-29 {
  padding-top: 29px !important;
}

.p-left-29 {
  padding-left: 29px !important;
}

.p-right-29 {
  padding-right: 29px !important;
}

.m-bottom-29 {
  margin-bottom: 29px !important;
}

.m-top-29 {
  margin-top: 29px !important;
}

.m-left-29 {
  margin-left: 29px !important;
}

.m-right-29 {
  margin-right: 29px !important;
}

.padding-x-29 {
  padding-left: 29px !important;
  padding-right: 29px !important;
}

.padding-y-29 {
  padding-bottom: 29px !important;
  padding-top: 29px !important;
}

.p-bottom-30 {
  padding-bottom: 30px !important;
}

.p-top-30 {
  padding-top: 30px !important;
}

.p-left-30 {
  padding-left: 30px !important;
}

.p-right-30 {
  padding-right: 30px !important;
}

.m-bottom-30 {
  margin-bottom: 30px !important;
}

.m-top-30 {
  margin-top: 30px !important;
}

.m-left-30 {
  margin-left: 30px !important;
}

.m-right-30 {
  margin-right: 30px !important;
}

.padding-x-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.padding-y-30 {
  padding-bottom: 30px !important;
  padding-top: 30px !important;
}

.p-bottom-31 {
  padding-bottom: 31px !important;
}

.p-top-31 {
  padding-top: 31px !important;
}

.p-left-31 {
  padding-left: 31px !important;
}

.p-right-31 {
  padding-right: 31px !important;
}

.m-bottom-31 {
  margin-bottom: 31px !important;
}

.m-top-31 {
  margin-top: 31px !important;
}

.m-left-31 {
  margin-left: 31px !important;
}

.m-right-31 {
  margin-right: 31px !important;
}

.padding-x-31 {
  padding-left: 31px !important;
  padding-right: 31px !important;
}

.padding-y-31 {
  padding-bottom: 31px !important;
  padding-top: 31px !important;
}

.p-bottom-32 {
  padding-bottom: 32px !important;
}

.p-top-32 {
  padding-top: 32px !important;
}

.p-left-32 {
  padding-left: 32px !important;
}

.p-right-32 {
  padding-right: 32px !important;
}

.m-bottom-32 {
  margin-bottom: 32px !important;
}

.m-top-32 {
  margin-top: 32px !important;
}

.m-left-32 {
  margin-left: 32px !important;
}

.m-right-32 {
  margin-right: 32px !important;
}

.padding-x-32 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.padding-y-32 {
  padding-bottom: 32px !important;
  padding-top: 32px !important;
}

.p-bottom-33 {
  padding-bottom: 33px !important;
}

.p-top-33 {
  padding-top: 33px !important;
}

.p-left-33 {
  padding-left: 33px !important;
}

.p-right-33 {
  padding-right: 33px !important;
}

.m-bottom-33 {
  margin-bottom: 33px !important;
}

.m-top-33 {
  margin-top: 33px !important;
}

.m-left-33 {
  margin-left: 33px !important;
}

.m-right-33 {
  margin-right: 33px !important;
}

.padding-x-33 {
  padding-left: 33px !important;
  padding-right: 33px !important;
}

.padding-y-33 {
  padding-bottom: 33px !important;
  padding-top: 33px !important;
}

.p-bottom-34 {
  padding-bottom: 34px !important;
}

.p-top-34 {
  padding-top: 34px !important;
}

.p-left-34 {
  padding-left: 34px !important;
}

.p-right-34 {
  padding-right: 34px !important;
}

.m-bottom-34 {
  margin-bottom: 34px !important;
}

.m-top-34 {
  margin-top: 34px !important;
}

.m-left-34 {
  margin-left: 34px !important;
}

.m-right-34 {
  margin-right: 34px !important;
}

.padding-x-34 {
  padding-left: 34px !important;
  padding-right: 34px !important;
}

.padding-y-34 {
  padding-bottom: 34px !important;
  padding-top: 34px !important;
}

.p-bottom-35 {
  padding-bottom: 35px !important;
}

.p-top-35 {
  padding-top: 35px !important;
}

.p-left-35 {
  padding-left: 35px !important;
}

.p-right-35 {
  padding-right: 35px !important;
}

.m-bottom-35 {
  margin-bottom: 35px !important;
}

.m-top-35 {
  margin-top: 35px !important;
}

.m-left-35 {
  margin-left: 35px !important;
}

.m-right-35 {
  margin-right: 35px !important;
}

.padding-x-35 {
  padding-left: 35px !important;
  padding-right: 35px !important;
}

.padding-y-35 {
  padding-bottom: 35px !important;
  padding-top: 35px !important;
}

.p-bottom-36 {
  padding-bottom: 36px !important;
}

.p-top-36 {
  padding-top: 36px !important;
}

.p-left-36 {
  padding-left: 36px !important;
}

.p-right-36 {
  padding-right: 36px !important;
}

.m-bottom-36 {
  margin-bottom: 36px !important;
}

.m-top-36 {
  margin-top: 36px !important;
}

.m-left-36 {
  margin-left: 36px !important;
}

.m-right-36 {
  margin-right: 36px !important;
}

.padding-x-36 {
  padding-left: 36px !important;
  padding-right: 36px !important;
}

.padding-y-36 {
  padding-bottom: 36px !important;
  padding-top: 36px !important;
}

.p-bottom-37 {
  padding-bottom: 37px !important;
}

.p-top-37 {
  padding-top: 37px !important;
}

.p-left-37 {
  padding-left: 37px !important;
}

.p-right-37 {
  padding-right: 37px !important;
}

.m-bottom-37 {
  margin-bottom: 37px !important;
}

.m-top-37 {
  margin-top: 37px !important;
}

.m-left-37 {
  margin-left: 37px !important;
}

.m-right-37 {
  margin-right: 37px !important;
}

.padding-x-37 {
  padding-left: 37px !important;
  padding-right: 37px !important;
}

.padding-y-37 {
  padding-bottom: 37px !important;
  padding-top: 37px !important;
}

.p-bottom-38 {
  padding-bottom: 38px !important;
}

.p-top-38 {
  padding-top: 38px !important;
}

.p-left-38 {
  padding-left: 38px !important;
}

.p-right-38 {
  padding-right: 38px !important;
}

.m-bottom-38 {
  margin-bottom: 38px !important;
}

.m-top-38 {
  margin-top: 38px !important;
}

.m-left-38 {
  margin-left: 38px !important;
}

.m-right-38 {
  margin-right: 38px !important;
}

.padding-x-38 {
  padding-left: 38px !important;
  padding-right: 38px !important;
}

.padding-y-38 {
  padding-bottom: 38px !important;
  padding-top: 38px !important;
}

.p-bottom-39 {
  padding-bottom: 39px !important;
}

.p-top-39 {
  padding-top: 39px !important;
}

.p-left-39 {
  padding-left: 39px !important;
}

.p-right-39 {
  padding-right: 39px !important;
}

.m-bottom-39 {
  margin-bottom: 39px !important;
}

.m-top-39 {
  margin-top: 39px !important;
}

.m-left-39 {
  margin-left: 39px !important;
}

.m-right-39 {
  margin-right: 39px !important;
}

.padding-x-39 {
  padding-left: 39px !important;
  padding-right: 39px !important;
}

.padding-y-39 {
  padding-bottom: 39px !important;
  padding-top: 39px !important;
}

.p-bottom-40 {
  padding-bottom: 40px !important;
}

.p-top-40 {
  padding-top: 40px !important;
}

.p-left-40 {
  padding-left: 40px !important;
}

.p-right-40 {
  padding-right: 40px !important;
}

.m-bottom-40 {
  margin-bottom: 40px !important;
}

.m-top-40 {
  margin-top: 40px !important;
}

.m-left-40 {
  margin-left: 40px !important;
}

.m-right-40 {
  margin-right: 40px !important;
}

.padding-x-40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.padding-y-40 {
  padding-bottom: 40px !important;
  padding-top: 40px !important;
}

.p-bottom-41 {
  padding-bottom: 41px !important;
}

.p-top-41 {
  padding-top: 41px !important;
}

.p-left-41 {
  padding-left: 41px !important;
}

.p-right-41 {
  padding-right: 41px !important;
}

.m-bottom-41 {
  margin-bottom: 41px !important;
}

.m-top-41 {
  margin-top: 41px !important;
}

.m-left-41 {
  margin-left: 41px !important;
}

.m-right-41 {
  margin-right: 41px !important;
}

.padding-x-41 {
  padding-left: 41px !important;
  padding-right: 41px !important;
}

.padding-y-41 {
  padding-bottom: 41px !important;
  padding-top: 41px !important;
}

.p-bottom-42 {
  padding-bottom: 42px !important;
}

.p-top-42 {
  padding-top: 42px !important;
}

.p-left-42 {
  padding-left: 42px !important;
}

.p-right-42 {
  padding-right: 42px !important;
}

.m-bottom-42 {
  margin-bottom: 42px !important;
}

.m-top-42 {
  margin-top: 42px !important;
}

.m-left-42 {
  margin-left: 42px !important;
}

.m-right-42 {
  margin-right: 42px !important;
}

.padding-x-42 {
  padding-left: 42px !important;
  padding-right: 42px !important;
}

.padding-y-42 {
  padding-bottom: 42px !important;
  padding-top: 42px !important;
}

.p-bottom-43 {
  padding-bottom: 43px !important;
}

.p-top-43 {
  padding-top: 43px !important;
}

.p-left-43 {
  padding-left: 43px !important;
}

.p-right-43 {
  padding-right: 43px !important;
}

.m-bottom-43 {
  margin-bottom: 43px !important;
}

.m-top-43 {
  margin-top: 43px !important;
}

.m-left-43 {
  margin-left: 43px !important;
}

.m-right-43 {
  margin-right: 43px !important;
}

.padding-x-43 {
  padding-left: 43px !important;
  padding-right: 43px !important;
}

.padding-y-43 {
  padding-bottom: 43px !important;
  padding-top: 43px !important;
}

.p-bottom-44 {
  padding-bottom: 44px !important;
}

.p-top-44 {
  padding-top: 44px !important;
}

.p-left-44 {
  padding-left: 44px !important;
}

.p-right-44 {
  padding-right: 44px !important;
}

.m-bottom-44 {
  margin-bottom: 44px !important;
}

.m-top-44 {
  margin-top: 44px !important;
}

.m-left-44 {
  margin-left: 44px !important;
}

.m-right-44 {
  margin-right: 44px !important;
}

.padding-x-44 {
  padding-left: 44px !important;
  padding-right: 44px !important;
}

.padding-y-44 {
  padding-bottom: 44px !important;
  padding-top: 44px !important;
}

.p-bottom-45 {
  padding-bottom: 45px !important;
}

.p-top-45 {
  padding-top: 45px !important;
}

.p-left-45 {
  padding-left: 45px !important;
}

.p-right-45 {
  padding-right: 45px !important;
}

.m-bottom-45 {
  margin-bottom: 45px !important;
}

.m-top-45 {
  margin-top: 45px !important;
}

.m-left-45 {
  margin-left: 45px !important;
}

.m-right-45 {
  margin-right: 45px !important;
}

.padding-x-45 {
  padding-left: 45px !important;
  padding-right: 45px !important;
}

.padding-y-45 {
  padding-bottom: 45px !important;
  padding-top: 45px !important;
}

.p-bottom-46 {
  padding-bottom: 46px !important;
}

.p-top-46 {
  padding-top: 46px !important;
}

.p-left-46 {
  padding-left: 46px !important;
}

.p-right-46 {
  padding-right: 46px !important;
}

.m-bottom-46 {
  margin-bottom: 46px !important;
}

.m-top-46 {
  margin-top: 46px !important;
}

.m-left-46 {
  margin-left: 46px !important;
}

.m-right-46 {
  margin-right: 46px !important;
}

.padding-x-46 {
  padding-left: 46px !important;
  padding-right: 46px !important;
}

.padding-y-46 {
  padding-bottom: 46px !important;
  padding-top: 46px !important;
}

.p-bottom-47 {
  padding-bottom: 47px !important;
}

.p-top-47 {
  padding-top: 47px !important;
}

.p-left-47 {
  padding-left: 47px !important;
}

.p-right-47 {
  padding-right: 47px !important;
}

.m-bottom-47 {
  margin-bottom: 47px !important;
}

.m-top-47 {
  margin-top: 47px !important;
}

.m-left-47 {
  margin-left: 47px !important;
}

.m-right-47 {
  margin-right: 47px !important;
}

.padding-x-47 {
  padding-left: 47px !important;
  padding-right: 47px !important;
}

.padding-y-47 {
  padding-bottom: 47px !important;
  padding-top: 47px !important;
}

.p-bottom-48 {
  padding-bottom: 48px !important;
}

.p-top-48 {
  padding-top: 48px !important;
}

.p-left-48 {
  padding-left: 48px !important;
}

.p-right-48 {
  padding-right: 48px !important;
}

.m-bottom-48 {
  margin-bottom: 48px !important;
}

.m-top-48 {
  margin-top: 48px !important;
}

.m-left-48 {
  margin-left: 48px !important;
}

.m-right-48 {
  margin-right: 48px !important;
}

.padding-x-48 {
  padding-left: 48px !important;
  padding-right: 48px !important;
}

.padding-y-48 {
  padding-bottom: 48px !important;
  padding-top: 48px !important;
}

.p-bottom-49 {
  padding-bottom: 49px !important;
}

.p-top-49 {
  padding-top: 49px !important;
}

.p-left-49 {
  padding-left: 49px !important;
}

.p-right-49 {
  padding-right: 49px !important;
}

.m-bottom-49 {
  margin-bottom: 49px !important;
}

.m-top-49 {
  margin-top: 49px !important;
}

.m-left-49 {
  margin-left: 49px !important;
}

.m-right-49 {
  margin-right: 49px !important;
}

.padding-x-49 {
  padding-left: 49px !important;
  padding-right: 49px !important;
}

.padding-y-49 {
  padding-bottom: 49px !important;
  padding-top: 49px !important;
}

.p-bottom-50 {
  padding-bottom: 50px !important;
}

.p-top-50 {
  padding-top: 50px !important;
}

.p-left-50 {
  padding-left: 50px !important;
}

.p-right-50 {
  padding-right: 50px !important;
}

.m-bottom-50 {
  margin-bottom: 50px !important;
}

.m-top-50 {
  margin-top: 50px !important;
}

.m-left-50 {
  margin-left: 50px !important;
}

.m-right-50 {
  margin-right: 50px !important;
}

.padding-x-50 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.padding-y-50 {
  padding-bottom: 50px !important;
  padding-top: 50px !important;
}

.p-bottom-51 {
  padding-bottom: 51px !important;
}

.p-top-51 {
  padding-top: 51px !important;
}

.p-left-51 {
  padding-left: 51px !important;
}

.p-right-51 {
  padding-right: 51px !important;
}

.m-bottom-51 {
  margin-bottom: 51px !important;
}

.m-top-51 {
  margin-top: 51px !important;
}

.m-left-51 {
  margin-left: 51px !important;
}

.m-right-51 {
  margin-right: 51px !important;
}

.padding-x-51 {
  padding-left: 51px !important;
  padding-right: 51px !important;
}

.padding-y-51 {
  padding-bottom: 51px !important;
  padding-top: 51px !important;
}

.p-bottom-52 {
  padding-bottom: 52px !important;
}

.p-top-52 {
  padding-top: 52px !important;
}

.p-left-52 {
  padding-left: 52px !important;
}

.p-right-52 {
  padding-right: 52px !important;
}

.m-bottom-52 {
  margin-bottom: 52px !important;
}

.m-top-52 {
  margin-top: 52px !important;
}

.m-left-52 {
  margin-left: 52px !important;
}

.m-right-52 {
  margin-right: 52px !important;
}

.padding-x-52 {
  padding-left: 52px !important;
  padding-right: 52px !important;
}

.padding-y-52 {
  padding-bottom: 52px !important;
  padding-top: 52px !important;
}

.p-bottom-53 {
  padding-bottom: 53px !important;
}

.p-top-53 {
  padding-top: 53px !important;
}

.p-left-53 {
  padding-left: 53px !important;
}

.p-right-53 {
  padding-right: 53px !important;
}

.m-bottom-53 {
  margin-bottom: 53px !important;
}

.m-top-53 {
  margin-top: 53px !important;
}

.m-left-53 {
  margin-left: 53px !important;
}

.m-right-53 {
  margin-right: 53px !important;
}

.padding-x-53 {
  padding-left: 53px !important;
  padding-right: 53px !important;
}

.padding-y-53 {
  padding-bottom: 53px !important;
  padding-top: 53px !important;
}

.p-bottom-54 {
  padding-bottom: 54px !important;
}

.p-top-54 {
  padding-top: 54px !important;
}

.p-left-54 {
  padding-left: 54px !important;
}

.p-right-54 {
  padding-right: 54px !important;
}

.m-bottom-54 {
  margin-bottom: 54px !important;
}

.m-top-54 {
  margin-top: 54px !important;
}

.m-left-54 {
  margin-left: 54px !important;
}

.m-right-54 {
  margin-right: 54px !important;
}

.padding-x-54 {
  padding-left: 54px !important;
  padding-right: 54px !important;
}

.padding-y-54 {
  padding-bottom: 54px !important;
  padding-top: 54px !important;
}

.p-bottom-55 {
  padding-bottom: 55px !important;
}

.p-top-55 {
  padding-top: 55px !important;
}

.p-left-55 {
  padding-left: 55px !important;
}

.p-right-55 {
  padding-right: 55px !important;
}

.m-bottom-55 {
  margin-bottom: 55px !important;
}

.m-top-55 {
  margin-top: 55px !important;
}

.m-left-55 {
  margin-left: 55px !important;
}

.m-right-55 {
  margin-right: 55px !important;
}

.padding-x-55 {
  padding-left: 55px !important;
  padding-right: 55px !important;
}

.padding-y-55 {
  padding-bottom: 55px !important;
  padding-top: 55px !important;
}

.p-bottom-56 {
  padding-bottom: 56px !important;
}

.p-top-56 {
  padding-top: 56px !important;
}

.p-left-56 {
  padding-left: 56px !important;
}

.p-right-56 {
  padding-right: 56px !important;
}

.m-bottom-56 {
  margin-bottom: 56px !important;
}

.m-top-56 {
  margin-top: 56px !important;
}

.m-left-56 {
  margin-left: 56px !important;
}

.m-right-56 {
  margin-right: 56px !important;
}

.padding-x-56 {
  padding-left: 56px !important;
  padding-right: 56px !important;
}

.padding-y-56 {
  padding-bottom: 56px !important;
  padding-top: 56px !important;
}

.p-bottom-57 {
  padding-bottom: 57px !important;
}

.p-top-57 {
  padding-top: 57px !important;
}

.p-left-57 {
  padding-left: 57px !important;
}

.p-right-57 {
  padding-right: 57px !important;
}

.m-bottom-57 {
  margin-bottom: 57px !important;
}

.m-top-57 {
  margin-top: 57px !important;
}

.m-left-57 {
  margin-left: 57px !important;
}

.m-right-57 {
  margin-right: 57px !important;
}

.padding-x-57 {
  padding-left: 57px !important;
  padding-right: 57px !important;
}

.padding-y-57 {
  padding-bottom: 57px !important;
  padding-top: 57px !important;
}

.p-bottom-58 {
  padding-bottom: 58px !important;
}

.p-top-58 {
  padding-top: 58px !important;
}

.p-left-58 {
  padding-left: 58px !important;
}

.p-right-58 {
  padding-right: 58px !important;
}

.m-bottom-58 {
  margin-bottom: 58px !important;
}

.m-top-58 {
  margin-top: 58px !important;
}

.m-left-58 {
  margin-left: 58px !important;
}

.m-right-58 {
  margin-right: 58px !important;
}

.padding-x-58 {
  padding-left: 58px !important;
  padding-right: 58px !important;
}

.padding-y-58 {
  padding-bottom: 58px !important;
  padding-top: 58px !important;
}

.p-bottom-59 {
  padding-bottom: 59px !important;
}

.p-top-59 {
  padding-top: 59px !important;
}

.p-left-59 {
  padding-left: 59px !important;
}

.p-right-59 {
  padding-right: 59px !important;
}

.m-bottom-59 {
  margin-bottom: 59px !important;
}

.m-top-59 {
  margin-top: 59px !important;
}

.m-left-59 {
  margin-left: 59px !important;
}

.m-right-59 {
  margin-right: 59px !important;
}

.padding-x-59 {
  padding-left: 59px !important;
  padding-right: 59px !important;
}

.padding-y-59 {
  padding-bottom: 59px !important;
  padding-top: 59px !important;
}

.p-bottom-60 {
  padding-bottom: 60px !important;
}

.p-top-60 {
  padding-top: 60px !important;
}

.p-left-60 {
  padding-left: 60px !important;
}

.p-right-60 {
  padding-right: 60px !important;
}

.m-bottom-60 {
  margin-bottom: 60px !important;
}

.m-top-60 {
  margin-top: 60px !important;
}

.m-left-60 {
  margin-left: 60px !important;
}

.m-right-60 {
  margin-right: 60px !important;
}

.padding-x-60 {
  padding-left: 60px !important;
  padding-right: 60px !important;
}

.padding-y-60 {
  padding-bottom: 60px !important;
  padding-top: 60px !important;
}

.p-bottom-61 {
  padding-bottom: 61px !important;
}

.p-top-61 {
  padding-top: 61px !important;
}

.p-left-61 {
  padding-left: 61px !important;
}

.p-right-61 {
  padding-right: 61px !important;
}

.m-bottom-61 {
  margin-bottom: 61px !important;
}

.m-top-61 {
  margin-top: 61px !important;
}

.m-left-61 {
  margin-left: 61px !important;
}

.m-right-61 {
  margin-right: 61px !important;
}

.padding-x-61 {
  padding-left: 61px !important;
  padding-right: 61px !important;
}

.padding-y-61 {
  padding-bottom: 61px !important;
  padding-top: 61px !important;
}

.p-bottom-62 {
  padding-bottom: 62px !important;
}

.p-top-62 {
  padding-top: 62px !important;
}

.p-left-62 {
  padding-left: 62px !important;
}

.p-right-62 {
  padding-right: 62px !important;
}

.m-bottom-62 {
  margin-bottom: 62px !important;
}

.m-top-62 {
  margin-top: 62px !important;
}

.m-left-62 {
  margin-left: 62px !important;
}

.m-right-62 {
  margin-right: 62px !important;
}

.padding-x-62 {
  padding-left: 62px !important;
  padding-right: 62px !important;
}

.padding-y-62 {
  padding-bottom: 62px !important;
  padding-top: 62px !important;
}

.p-bottom-63 {
  padding-bottom: 63px !important;
}

.p-top-63 {
  padding-top: 63px !important;
}

.p-left-63 {
  padding-left: 63px !important;
}

.p-right-63 {
  padding-right: 63px !important;
}

.m-bottom-63 {
  margin-bottom: 63px !important;
}

.m-top-63 {
  margin-top: 63px !important;
}

.m-left-63 {
  margin-left: 63px !important;
}

.m-right-63 {
  margin-right: 63px !important;
}

.padding-x-63 {
  padding-left: 63px !important;
  padding-right: 63px !important;
}

.padding-y-63 {
  padding-bottom: 63px !important;
  padding-top: 63px !important;
}

.p-bottom-64 {
  padding-bottom: 64px !important;
}

.p-top-64 {
  padding-top: 64px !important;
}

.p-left-64 {
  padding-left: 64px !important;
}

.p-right-64 {
  padding-right: 64px !important;
}

.m-bottom-64 {
  margin-bottom: 64px !important;
}

.m-top-64 {
  margin-top: 64px !important;
}

.m-left-64 {
  margin-left: 64px !important;
}

.m-right-64 {
  margin-right: 64px !important;
}

.padding-x-64 {
  padding-left: 64px !important;
  padding-right: 64px !important;
}

.padding-y-64 {
  padding-bottom: 64px !important;
  padding-top: 64px !important;
}

.p-bottom-65 {
  padding-bottom: 65px !important;
}

.p-top-65 {
  padding-top: 65px !important;
}

.p-left-65 {
  padding-left: 65px !important;
}

.p-right-65 {
  padding-right: 65px !important;
}

.m-bottom-65 {
  margin-bottom: 65px !important;
}

.m-top-65 {
  margin-top: 65px !important;
}

.m-left-65 {
  margin-left: 65px !important;
}

.m-right-65 {
  margin-right: 65px !important;
}

.padding-x-65 {
  padding-left: 65px !important;
  padding-right: 65px !important;
}

.padding-y-65 {
  padding-bottom: 65px !important;
  padding-top: 65px !important;
}

.p-bottom-66 {
  padding-bottom: 66px !important;
}

.p-top-66 {
  padding-top: 66px !important;
}

.p-left-66 {
  padding-left: 66px !important;
}

.p-right-66 {
  padding-right: 66px !important;
}

.m-bottom-66 {
  margin-bottom: 66px !important;
}

.m-top-66 {
  margin-top: 66px !important;
}

.m-left-66 {
  margin-left: 66px !important;
}

.m-right-66 {
  margin-right: 66px !important;
}

.padding-x-66 {
  padding-left: 66px !important;
  padding-right: 66px !important;
}

.padding-y-66 {
  padding-bottom: 66px !important;
  padding-top: 66px !important;
}

.p-bottom-67 {
  padding-bottom: 67px !important;
}

.p-top-67 {
  padding-top: 67px !important;
}

.p-left-67 {
  padding-left: 67px !important;
}

.p-right-67 {
  padding-right: 67px !important;
}

.m-bottom-67 {
  margin-bottom: 67px !important;
}

.m-top-67 {
  margin-top: 67px !important;
}

.m-left-67 {
  margin-left: 67px !important;
}

.m-right-67 {
  margin-right: 67px !important;
}

.padding-x-67 {
  padding-left: 67px !important;
  padding-right: 67px !important;
}

.padding-y-67 {
  padding-bottom: 67px !important;
  padding-top: 67px !important;
}

.p-bottom-68 {
  padding-bottom: 68px !important;
}

.p-top-68 {
  padding-top: 68px !important;
}

.p-left-68 {
  padding-left: 68px !important;
}

.p-right-68 {
  padding-right: 68px !important;
}

.m-bottom-68 {
  margin-bottom: 68px !important;
}

.m-top-68 {
  margin-top: 68px !important;
}

.m-left-68 {
  margin-left: 68px !important;
}

.m-right-68 {
  margin-right: 68px !important;
}

.padding-x-68 {
  padding-left: 68px !important;
  padding-right: 68px !important;
}

.padding-y-68 {
  padding-bottom: 68px !important;
  padding-top: 68px !important;
}

.p-bottom-69 {
  padding-bottom: 69px !important;
}

.p-top-69 {
  padding-top: 69px !important;
}

.p-left-69 {
  padding-left: 69px !important;
}

.p-right-69 {
  padding-right: 69px !important;
}

.m-bottom-69 {
  margin-bottom: 69px !important;
}

.m-top-69 {
  margin-top: 69px !important;
}

.m-left-69 {
  margin-left: 69px !important;
}

.m-right-69 {
  margin-right: 69px !important;
}

.padding-x-69 {
  padding-left: 69px !important;
  padding-right: 69px !important;
}

.padding-y-69 {
  padding-bottom: 69px !important;
  padding-top: 69px !important;
}

.p-bottom-70 {
  padding-bottom: 70px !important;
}

.p-top-70 {
  padding-top: 70px !important;
}

.p-left-70 {
  padding-left: 70px !important;
}

.p-right-70 {
  padding-right: 70px !important;
}

.m-bottom-70 {
  margin-bottom: 70px !important;
}

.m-top-70 {
  margin-top: 70px !important;
}

.m-left-70 {
  margin-left: 70px !important;
}

.m-right-70 {
  margin-right: 70px !important;
}

.padding-x-70 {
  padding-left: 70px !important;
  padding-right: 70px !important;
}

.padding-y-70 {
  padding-bottom: 70px !important;
  padding-top: 70px !important;
}

.p-bottom-71 {
  padding-bottom: 71px !important;
}

.p-top-71 {
  padding-top: 71px !important;
}

.p-left-71 {
  padding-left: 71px !important;
}

.p-right-71 {
  padding-right: 71px !important;
}

.m-bottom-71 {
  margin-bottom: 71px !important;
}

.m-top-71 {
  margin-top: 71px !important;
}

.m-left-71 {
  margin-left: 71px !important;
}

.m-right-71 {
  margin-right: 71px !important;
}

.padding-x-71 {
  padding-left: 71px !important;
  padding-right: 71px !important;
}

.padding-y-71 {
  padding-bottom: 71px !important;
  padding-top: 71px !important;
}

.p-bottom-72 {
  padding-bottom: 72px !important;
}

.p-top-72 {
  padding-top: 72px !important;
}

.p-left-72 {
  padding-left: 72px !important;
}

.p-right-72 {
  padding-right: 72px !important;
}

.m-bottom-72 {
  margin-bottom: 72px !important;
}

.m-top-72 {
  margin-top: 72px !important;
}

.m-left-72 {
  margin-left: 72px !important;
}

.m-right-72 {
  margin-right: 72px !important;
}

.padding-x-72 {
  padding-left: 72px !important;
  padding-right: 72px !important;
}

.padding-y-72 {
  padding-bottom: 72px !important;
  padding-top: 72px !important;
}

.p-bottom-73 {
  padding-bottom: 73px !important;
}

.p-top-73 {
  padding-top: 73px !important;
}

.p-left-73 {
  padding-left: 73px !important;
}

.p-right-73 {
  padding-right: 73px !important;
}

.m-bottom-73 {
  margin-bottom: 73px !important;
}

.m-top-73 {
  margin-top: 73px !important;
}

.m-left-73 {
  margin-left: 73px !important;
}

.m-right-73 {
  margin-right: 73px !important;
}

.padding-x-73 {
  padding-left: 73px !important;
  padding-right: 73px !important;
}

.padding-y-73 {
  padding-bottom: 73px !important;
  padding-top: 73px !important;
}

.p-bottom-74 {
  padding-bottom: 74px !important;
}

.p-top-74 {
  padding-top: 74px !important;
}

.p-left-74 {
  padding-left: 74px !important;
}

.p-right-74 {
  padding-right: 74px !important;
}

.m-bottom-74 {
  margin-bottom: 74px !important;
}

.m-top-74 {
  margin-top: 74px !important;
}

.m-left-74 {
  margin-left: 74px !important;
}

.m-right-74 {
  margin-right: 74px !important;
}

.padding-x-74 {
  padding-left: 74px !important;
  padding-right: 74px !important;
}

.padding-y-74 {
  padding-bottom: 74px !important;
  padding-top: 74px !important;
}

.p-bottom-75 {
  padding-bottom: 75px !important;
}

.p-top-75 {
  padding-top: 75px !important;
}

.p-left-75 {
  padding-left: 75px !important;
}

.p-right-75 {
  padding-right: 75px !important;
}

.m-bottom-75 {
  margin-bottom: 75px !important;
}

.m-top-75 {
  margin-top: 75px !important;
}

.m-left-75 {
  margin-left: 75px !important;
}

.m-right-75 {
  margin-right: 75px !important;
}

.padding-x-75 {
  padding-left: 75px !important;
  padding-right: 75px !important;
}

.padding-y-75 {
  padding-bottom: 75px !important;
  padding-top: 75px !important;
}

.p-bottom-76 {
  padding-bottom: 76px !important;
}

.p-top-76 {
  padding-top: 76px !important;
}

.p-left-76 {
  padding-left: 76px !important;
}

.p-right-76 {
  padding-right: 76px !important;
}

.m-bottom-76 {
  margin-bottom: 76px !important;
}

.m-top-76 {
  margin-top: 76px !important;
}

.m-left-76 {
  margin-left: 76px !important;
}

.m-right-76 {
  margin-right: 76px !important;
}

.padding-x-76 {
  padding-left: 76px !important;
  padding-right: 76px !important;
}

.padding-y-76 {
  padding-bottom: 76px !important;
  padding-top: 76px !important;
}

.p-bottom-77 {
  padding-bottom: 77px !important;
}

.p-top-77 {
  padding-top: 77px !important;
}

.p-left-77 {
  padding-left: 77px !important;
}

.p-right-77 {
  padding-right: 77px !important;
}

.m-bottom-77 {
  margin-bottom: 77px !important;
}

.m-top-77 {
  margin-top: 77px !important;
}

.m-left-77 {
  margin-left: 77px !important;
}

.m-right-77 {
  margin-right: 77px !important;
}

.padding-x-77 {
  padding-left: 77px !important;
  padding-right: 77px !important;
}

.padding-y-77 {
  padding-bottom: 77px !important;
  padding-top: 77px !important;
}

.p-bottom-78 {
  padding-bottom: 78px !important;
}

.p-top-78 {
  padding-top: 78px !important;
}

.p-left-78 {
  padding-left: 78px !important;
}

.p-right-78 {
  padding-right: 78px !important;
}

.m-bottom-78 {
  margin-bottom: 78px !important;
}

.m-top-78 {
  margin-top: 78px !important;
}

.m-left-78 {
  margin-left: 78px !important;
}

.m-right-78 {
  margin-right: 78px !important;
}

.padding-x-78 {
  padding-left: 78px !important;
  padding-right: 78px !important;
}

.padding-y-78 {
  padding-bottom: 78px !important;
  padding-top: 78px !important;
}

.p-bottom-79 {
  padding-bottom: 79px !important;
}

.p-top-79 {
  padding-top: 79px !important;
}

.p-left-79 {
  padding-left: 79px !important;
}

.p-right-79 {
  padding-right: 79px !important;
}

.m-bottom-79 {
  margin-bottom: 79px !important;
}

.m-top-79 {
  margin-top: 79px !important;
}

.m-left-79 {
  margin-left: 79px !important;
}

.m-right-79 {
  margin-right: 79px !important;
}

.padding-x-79 {
  padding-left: 79px !important;
  padding-right: 79px !important;
}

.padding-y-79 {
  padding-bottom: 79px !important;
  padding-top: 79px !important;
}

.p-bottom-80 {
  padding-bottom: 80px !important;
}

.p-top-80 {
  padding-top: 80px !important;
}

.p-left-80 {
  padding-left: 80px !important;
}

.p-right-80 {
  padding-right: 80px !important;
}

.m-bottom-80 {
  margin-bottom: 80px !important;
}

.m-top-80 {
  margin-top: 80px !important;
}

.m-left-80 {
  margin-left: 80px !important;
}

.m-right-80 {
  margin-right: 80px !important;
}

.padding-x-80 {
  padding-left: 80px !important;
  padding-right: 80px !important;
}

.padding-y-80 {
  padding-bottom: 80px !important;
  padding-top: 80px !important;
}

.no-frills {
  height: 100%;
  padding-top: 2rem;
}

.layout-embedded {
  height: 100%;
  overflow: hidden;
}
.layout-embedded .container {
  height: calc(100% - 38px);
  overflow: auto;
  position: relative;
}
.layout-embedded .container > .page-container {
  padding: 20px 0;
}
.layout-embedded .container > .row:first-child {
  padding-top: 20px;
}
.layout-embedded .custom-header {
  background-color: #ffffff;
  height: 38px;
  width: 100%;
  z-index: 100;
}
.layout-embedded .custom-header button {
  border-bottom: 2px solid transparent;
  color: #50535A;
  display: block;
  float: left;
  font-size: 1.4rem;
  line-height: 34px;
  margin: 0 10px;
  padding: 0 10px;
  position: relative;
}
.layout-embedded .custom-header button:hover {
  border-bottom: 2px solid #000000;
  color: #000000;
}
.layout-embedded .custom-header button:active, .layout-embedded .custom-header button.custom-active {
  border-bottom: 2px solid #368ac0;
}

/* stylelint-disable property-no-vendor-prefix */
span.code {
  background: #ccc;
  border: 1px solid #aaa;
  border-radius: 2px;
  color: #555;
  font-family: monospace;
  font-size: 1.4rem;
  padding: 3px 8px;
}

.code-block {
  background: #ccc;
  border: 1px solid #aaa;
  border-radius: 2px;
  color: #555;
  font-family: monospace;
  font-size: 1.4rem;
  margin: 1em 0;
  overflow: auto;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  white-space: pre-wrap;
}

.badge.test-type {
  min-width: 75px;
  text-align: center;
}

.badge.azure07,
.badge.ruby07 {
  color: #ffffff;
}

.directory-listing .icon {
  color: #2578a9;
}
.directory-listing .icon.example {
  color: #c65f5f;
}
.directory-listing .icon.test {
  color: #54a1d3;
}

.demo-grid > * > .content-area {
  margin-bottom: 16px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}
.demo-grid h2 {
  font-size: 1.8rem;
  padding-top: 3px;
}

.row.demo-tests-grid .column,
.row.demo-tests-grid .columns {
  min-height: 60px;
}
.row.demo-tests-grid .column > *,
.row.demo-tests-grid .columns > * {
  vertical-align: middle;
}

.draggable.card.demo {
  min-height: 150px;
  width: 150px;
}

#busy-form {
  padding: 0 0 1em;
}

.field #btn-reload {
  height: 28px;
  min-height: 28px;
  min-width: 28px;
  position: absolute;
  right: 0;
  top: -10px;
  width: 28px;
}

.contained-scrolling-left-col {
  background-color: #ffffff;
  display: inline-block;
  height: calc(100% - 45px);
  margin-left: 20px;
  margin-top: 20px;
  min-height: 0;
  width: calc(30% - 20px);
}
.contained-scrolling-left-col > .content {
  height: 5000px;
  width: 3000px;
}

.contained-scrolling-right-top {
  background-color: #ffffff;
  display: inline-block;
  height: calc(42% - 20px);
  margin-left: 20px;
  margin-top: 20px;
  min-height: 0;
  position: absolute;
  top: 0;
  width: calc(70% - 40px);
}
.contained-scrolling-right-top > .content {
  height: 5000px;
  width: 3000px;
}

.contained-scrolling-right-bottom {
  background-color: #ffffff;
  display: inline-block;
  height: calc(55% - 25px);
  margin-left: 20px;
  margin-top: 20px;
  min-height: 0;
  width: calc(70% - 40px);
}
.contained-scrolling-right-bottom > .content {
  height: 5000px;
  width: 3000px;
}

.demo-column-content > .content {
  min-height: 5000px;
}

@media (max-width: 1279px) {
  .demo-column-content > .content {
    min-height: 1000px;
  }
}
.animate-containers header {
  -webkit-transition: height 200ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  -moz-transition: height 200ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  -o-transition: height 200ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  -ms-transition: height 200ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  transition: height 200ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}
.animate-containers .page-container {
  -webkit-transition: height 200ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  -moz-transition: height 200ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  -o-transition: height 200ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  -ms-transition: height 200ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  transition: height 200ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

.count-style {
  font-family: monospace;
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.demo-popover {
  align-items: middle;
  display: flex;
  justify-content: space-between;
  margin: 7px auto;
}

.demo-popover .btn-primary {
  align-self: center;
  margin-left: 65px;
  max-height: 34px;
}

.demo-popover table th,
.demo-popover table td {
  padding: 4px;
}

html[dir=rtl] .demo-popover .btn-primary {
  margin-left: 0;
  margin-right: 65px;
}

@media (max-width: 676px) {
  .demo-popover .btn-primary {
    margin-left: 10px !important;
  }
  html[dir=rtl] .demo-popover .btn-primary {
    margin-right: 10px !important;
  }
}
.wizard-panel {
  -webkit-transition: opacity 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  -moz-transition: opacity 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  -o-transition: opacity 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  -ms-transition: opacity 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  transition: opacity 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

.demo-title-pad {
  margin-top: 2em;
}

.info-popup {
  margin-bottom: -60px;
  width: 200px;
}
.info-popup > [class^=info-popup] {
  border-top: 1px solid #d8d8d8;
  -webkit-font-smoothing: antialiased;
  line-height: 2rem;
  margin-bottom: 8px;
  padding-top: 8px;
  width: 100%;
}
.info-popup > [class^=info-popup]:first-child {
  border-top-color: transparent;
  padding-top: 0;
}
.info-popup ol li {
  -webkit-font-smoothing: antialiased;
  list-style-type: decimal;
  margin-left: 15px;
}
.info-popup ul li {
  list-style-type: disc;
  margin-left: 15px;
}
.info-popup ul li a {
  font-size: 1.2rem;
}
.info-popup code {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: "Source Sans Pro", helvetica, arial;
}
.info-popup .label {
  margin-bottom: 2px;
}
.info-popup .icon-success {
  height: 14px;
  left: 3px;
  top: 3px;
  width: 14px;
}

.popover.alternate .info-popup p {
  font-size: 1.2rem;
}
.popover.alternate .info-popup p .hyperlink {
  font-size: 1.2rem;
}
.popover.alternate .info-popup .info-popup-version {
  text-align: right;
}

/* stylelint-disable no-descending-specificity */
.demo-svg {
  display: inline-block;
  margin: 10px;
}

.demo-icon-empty {
  color: #999999;
}

div.dropdown > .listoption-icon.demo-icon-empty,
div.dropdown li > .listoption-icon.demo-icon-empty,
div.multiselect > .listoption-icon.demo-icon-empty,
div.multiselect li > .listoption-icon.demo-icon-empty,
.dropdown-list > .listoption-icon.demo-icon-empty,
.dropdown-list li > .listoption-icon.demo-icon-empty {
  color: #999999;
}
div.dropdown li.is-focused:not(.is-disabled) > .listoption-icon.demo-icon-empty,
div.multiselect li.is-focused:not(.is-disabled) > .listoption-icon.demo-icon-empty,
.dropdown-list li.is-focused:not(.is-disabled) > .listoption-icon.demo-icon-empty {
  color: #999999;
}

.error-code-container {
  line-height: normal;
  text-align: center;
}

.error-code-number {
  color: #b94e4a;
  font-size: 150px;
  font-weight: 900;
  line-height: normal;
}

.error-code-standard {
  color: #b94e4a;
  font-size: 24px;
  line-height: normal;
  overflow-wrap: break-word;
}

.error-stack {
  background: #ccc;
  border: 1px solid #aaa;
  border-radius: 2px;
  color: #555;
  font-family: monospace;
  font-size: 1.4rem;
}

/*# sourceMappingURL=demo.css.map */