
        .container {
          display: flex;
          align-items: center;
          gap: 16px;
          margin-block: 16px;
          padding-inline: 16px;
        }

        .position-relative-fix {
          position: relative;
        }

        @media (max-width: 992px) {
          .container {
            align-items: flex-start;
            flex-direction: column;

          }
        }
      