
        input.checkbox.lightsalmon + label::before {
          background-color: lightsalmon;
          border-color: lightsalmon;
        }

        input.checkbox.powderblue + label::before {
          background-color: powderblue;
          border-color: powderblue;
        }
      