
        .subheader {
          -webkit-transition: all 0.3s ease-out;
          -moz-transition: all 0.3s ease-out;
          -o-transition: all 0.3s ease-out;
          -ms-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;

          position: fixed;
          top: 60px;
        }

        .content {
          margin-top: 80px;
        }

        .scrolled-down .subheader {
          height: 0;
        }
      